root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
block_comment_start = /*
block_comment = *
block_comment_end = */

[**/*.md]
indent_size = 2
trim_trailing_whitespace = false

[**/*.{yml,yaml}]
indent_size = 2
