includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - config
        - src
        - tests

    # The level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Factories\\Factory<Illuminate\\Database\\Eloquent\\Model>::afterCreating\(\)#'
        - '#Access to an undefined property Tests\\Models\\User::\$active#'
        - '#Call to an undefined method Faker\\Generator::catchphrase\(\)#'

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php

#    checkMissingIterableValueType: false
