name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: ['7.4', '8.0']
        laravel: ['7.*', '8.*']
        include:
          - laravel: '7.*'
            testbench: '5.*'
          - laravel: '8.*'
            testbench: '6.*'

    name: P${{ matrix.php }} - L${{ matrix.laravel }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.composer/cache/files
          key: dependencies-laravel-${{ matrix.laravel }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: curl, json, mbstring, zip, sqlite, pdo_sqlite
          coverage: pcov

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
          composer update --prefer-dist --no-interaction

      # Lower PHP and laravel versions.

      - name: PHPUnit
        if: matrix.php != '8.0' || matrix.laravel != '8.*'
        run: vendor/bin/phpunit

      # Last PHP and laravel versions.

      - name: Code analysis
        if: matrix.php == '8.0' && matrix.laravel == '8.*'
        run: |
          vendor/bin/phpcs
          vendor/bin/phpmd config,src text phpmd.xml
          vendor/bin/phpstan analyse

      - name: PHPUnit + Code coverage
        if: matrix.php == '8.0' && matrix.laravel == '8.*'
        run: |
          mkdir -p build/logs
          vendor/bin/phpunit --coverage-text --coverage-clover build/logs/clover.xml

      - name: Code coverage upload to Coveralls
        if: matrix.php == '8.0' && matrix.laravel == '8.*'
        env:
          COVERALLS_RUN_LOCALLY: 1
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: |
          composer require php-coveralls/php-coveralls
          vendor/bin/php-coveralls -v --coverage_clover=build/logs/clover.xml
